
  <div class="home-container">
    <strong>
    <h1>Welcome to Supremacy Airlines.com</h1>
    <p class="tagline">Soar to new heights with Supremacy Airlines</p>
  
    <div class="service-overview">
      <h2>Experience the Art of Travel with Supremacy Airlines</h2>
      <p>Explore over 5000 destinations worldwide with Supremacy Airlines , your partner for a seamless and enriching travel experience. We're committed to making every journey smooth, enjoyable, and unforgettable.</p>
  
      <h3>Personalized Travel Solutions for a Seamless Journey</h3>
      <ul>
        <li><strong>Seamless Booking Experience</strong> Relax, we've got you covered - book your flights with our seamless online system.</li>
        <li><strong>Never Wait: Instant Support, 24/7</strong> Our support team is available round the clock to assist you.</li>
      </ul>
  
      <ul>
        <li><strong>Seamless Travel Experience:</strong> Check-in online, print your ticket, and access your travel itinerary with ease.</li>
        <li><strong>Personalized Travel Assistance:</strong> Our dedicated customer support team is available to help you every step of the way.</li>
        <li><strong>Real-time Flight Updates:</strong> Stay informed about flight schedules, delays, and cancellations with our mobile app and email notifications.</li>
        <li><strong>Convenient Payment Options:</strong> Pay with ease using a variety of payment methods, including credit cards, debit cards, and online wallets.</li>
      </ul>
  
      <p>Experience the SkyFly difference with thousands of travelers who rely on us for their air travel needs. From domestic getaways to international adventures, we're dedicated to providing a **hassle-free**, **reliable**, and **unforgettable** journey.</p>
  
      <div class="signup-cta">
        <h3>Get Ready for Takeoff!</h3>
        <p>Join our community today and discover new destinations, exclusive deals, and travel tips!</p>
        <button class="btn-primary" (click)=registration()>Sign Up</button>
      </div>
    </div>
  </strong>
  </div>
  
  
  
