<div class="app">

  <header class="app-header">
    <img src="\images\travel.gif" class="app-logo" alt="logo">
   <h1>Supremacy Airlines</h1>
  </header>
<!--
  <nav class="navbar">

    <ul class="nav-list">
        <li class="nav-item">
            <a routerLink="/home" >Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login">Login</a>
        </li>
   
    <li class="nav-item">
      <a routerLink="/flights" >Admin Flights</a>
  </li>
 <li class="nav-item">
    <a routerLink="/search">Search Flights</a>
</li>
<li class="nav-item">
  <a routerLink="/bookings">Manage Bookings</a>
</li>
<li class="nav-item">
  <a routerLink="/add-seats">Search Seats</a>
</li>
<li class="nav-item"> 
  <a routerLink="/book">Book Seats</a>
</li> 
<li class="nav-item">
  <a routerLink="/payment">Payment</a>
</li>
<li class="nav-item">
  <a routerLink="/logout">Log Out</a>
</li>
    <li class="nav-item">
      <a routerLink="/aboutus">About Us</a>
  </li>
    </ul>
</nav>-->

<!--Render NavBar Component-->
<app-navbar></app-navbar>

<div style="background-image: url('/images/gif.gif');background-repeat: no-repeat;
  background-size: cover;">
  <section>
      <router-outlet></router-outlet>
  </section>
  </div>

<footer class='footer'>
  <p>&copy; All Right Reserved to Supremacy-Airlines</p>
</footer> 
</div>
